.jp-interface a:hover,
.jp-interface a:focus,
.jp-interface a:active {
    outline: none;
}
.jp-interface {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}
.jp-jplayer audio, .jp-jplayer {width:0; height:0;}
.jp-jplayer {background-color: #000000;}

/*Buttons*/
.jp-buttons {
    text-align: center;
    padding: 22px 0;
    background-color: #234a87;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.jp-buttons a,.jp-buttons a:visited {
    width: 40px;
    height: 1.6em;
    text-align: center;
    position: relative;
    font-size: 14px;
    color:#fff;
}
/*
.jp-buttons a:before {
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jp-buttons a.jp-play:before {content: '\f144';font-weight: 400}
.jp-pause:before {content: '\f28b';}
.jp-previous:before {content: '\f053';}
.jp-next:before {content: '\f054';}
.jp-playlist-toggle:before {content: '\f0c9';}
.jp-mute:before {content: '\f026';}
.jp-unmute:before {content: '\f028';}
.jp-repeat:before, .jp-repeat-off:before {content: '\f079';}
.jp-shuffle:before, .jp-shuffle-off:before {content: '\f074';}
*/
.jp-buttons a i{
    font-size: 1.4em;
    padding-right:.25rem;
}
.jp-previous.disabled, .jp-next.disabled {opacity: .6 !important;}
/*Progress Bar*/
.jp-progress {
	height: 2px;
    width: 100%;
}
.jp-seek-bar {
	width: 100% !important;
	height: 100%;
	cursor: pointer;
	background: #fff;
}
.jp-play-bar {
	background: #1e427a;
	width: 0;
	height: 100%;
	position: relative;
}
.jp-seek-handle {
    width: 5px;
    height: 14px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    top: -6px;
    right: -2px;
}
/*Volume Bar*/
.jp-volume-bar {
    background: #f5f5f5;
    display: inline-block;
    vertical-align: 88%;
    margin-left: 20px;
    width: 197px;
    height: 4px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}
.jp-volume-bar-value {
    height: 100%;
    background: #fff;
    position: relative;
}
/*
.jp-volume-bar-value:after {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}*/

/*Song Title*/
.song-title {padding: 12px 8px;}
.song-image img {display: block; width: 100%;}

.item-song {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.item-artist {
    display: block;
    font-size: 12px;
    color: #a5a5a5;
}

/*Time*/
.jp-duration {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: #c8db00;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

/*PlayList*/
.jp-playlist {
    display: none;
    padding-bottom: 8px;
}
.jp-playlist li {
	padding: 8px;
	border-top: 1px solid #eee;
}
.jp-playlist li:first-child{
    border-top: none;
}
.jp-playlist .item-image {display: none;}

.jp-playlist-current .item-song,
.jp-playlist-current .item-artist {
    color: #c9376e;
}
.jp-playlist .item-song {font-size: 13px; font-weight: 400;}

@media (min-width: 768px) and (max-width: 991px) {
    .jp-buttons {padding: 10px 0;}
    .jp-volume-bar {margin-left: 5px;}
    .jp-buttons a {width: 35px;}
}

/*-----------------------------------*/
/* Circle Player */
/*-----------------------------------*/

.cp-container {margin-bottom: 30px;}

.cp-wrap {
    position:relative;
    float: left;
    width: 132px;
    height: 134px;
    padding: 0 1px 4px;
}
.cp-progress-1,
.cp-progress-2 {
    position:absolute;
    top:0;
    left:0;
    width:130px;
    height:130px;
    clip:rect(0px,65px,130px,0px);
    border-radius:52px;
}
.cp-progress-holder,
.cp-circle-control {
    position:absolute;
    width:130px;
    height:130px;
}
.cp-circle-control {
    cursor:pointer;
}
.cp-progress-holder {
    clip:rect(0px,130px,130px,65px);
    display:none;
}
.cp-progress-holder.cp-gt50{
    clip:rect(auto, auto, auto, auto);
}
.cp-controls li a {
    position:relative;
    display:block;
    width:36px;
    height:36px;
    text-indent:-9999px;
    z-index:1;
    cursor: pointer;
    margin: 32px auto 10px;
}
.cp-controls .cp-pause {background-position:0 -36px;}

.cp-container .jp-current-time,
.cp-container .song-title {
    display: block !important;
}
.cp-container .jp-buttons {
    background: none;
    position: static;
    float: left;
    text-align: left;
    padding: 24px 0 0 16px;
    width: 132px;
}
.cp-container .jp-current-time {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.cp-container .song-title {
    padding: 0;
}
.cp-container .song-title .item-artist {
    font-family: gotham,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #da74b7;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.cp-container .song-title .item-song {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: none;
    letter-spacing: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-bottom: 8px;
}
.cp-container .jp-volume-bar {
    width: 70px;
    background: #bf5d90;
    margin-left: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
}
@media (min-width: 768px) and (max-width: 991px) {
    .cp-container .jp-buttons {padding: 4px 8px 0;}
    .cp-container .song-title .item-artist {margin-bottom: 10px;}
}

/*-----------------------------------*/
/* Large Player */
/*-----------------------------------*/

.widget-audio .jp-previous,
.widget-audio .jp-play,
.widget-audio .jp-pause,
.widget-audio .jp-next,
.widget-audio .jp-current-time {
    float: left;
}
.widget-audio .jp-playlist-toggle,
.widget-audio .jp-repeat,
.widget-audio .jp-repeat-off,
.widget-audio .jp-shuffle,
.widget-audio .jp-shuffle-off,
.widget-audio .jp-volume-bar,
.widget-audio .jp-mute,
.widget-audio .jp-unmute,
.widget-audio .jp-duration {
    float: right;
}

/*Title*/
.widget-audio .jp-meta {padding: 32px 30px;}

.widget-audio .song-image {
    min-height: 0 !important;
    width: 122px;
    height: 122px;
    float: left;
    margin-right: 30px;
}
.widget-audio .song-title {padding: 30px 0 0;}

.widget-audio .item-song {
    display: block;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    text-indent: -3px;
    margin-bottom: 2px;
}
.widget-audio .item-artist {
    display: block;
    font-family: gotham,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #ffb3cf;
    text-transform: uppercase;
}

/*Controls*/
.widget-audio .jp-buttons {
    position: relative;
    padding: 1rem;
    border-radius: .25em;
    width: 100%;
}
.widget-audio .jp-progress {
    width: auto;
    position: absolute;
    top: 33px;
    left: 226px;
    right: 390px;
}
.widget-audio .jp-volume-bar {margin: 11px 30px 0 0; width: 94px;}
.widget-audio .jp-buttons .jp-previous:before, .widget-audio .jp-buttons .jp-next:before {font-size: 1.3em;line-height: 1.4em;}
.widget-audio .jp-buttons .jp-play:before, .widget-audio .jp-buttons .jp-pause:before {font-size: 1.3em;line-height: 1.4em;}
.widget-audio .jp-buttons .jp-repeat:before, .widget-audio .jp-buttons .jp-repeat-off:before {font-size: 1.3em;line-height: 1.4em;}
.widget-audio .jp-buttons .jp-shuffle:before, .widget-audio .jp-buttons .jp-shuffle-off:before {font-size: 1.3em;line-height: 1.4em;}
.widget-audio .jp-buttons .jp-playlist-toggle:before {font-size: 1.3em;line-height: 1.4em;}
.widget-audio .jp-buttons .jp-repeat-off:before, .widget-audio .jp-buttons .jp-shuffle-off:before {color: #c8db00;}

.widget-audio .jp-current-time,
.widget-audio .jp-duration {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    line-height: 25px;
}
.widget-audio .jp-current-time {margin-left: 30px;}
.widget-audio .jp-duration {margin-right: 30px;}

/*PlayList*/
.widget-audio .jp-playlist {
    display: block;
    padding-bottom: 8px;
}
.widget-audio .jp-playlist li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.widget-audio a.jp-playlist-item{
    padding-left:1.2em;
}
.widget-audio .jp-playlist .item-image {display: none;}

.widget-audio .jp-playlist .item-song {
    font-size: 14px;
    font-weight: 600;
    text-indent: 0;
    color: #fff;
}
.widget-audio .jp-playlist .item-artist {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
}
.widget-audio .jp-playlist-current .item-song,
.widget-audio .jp-playlist-current .item-artist {
    color: #ffb3cf;
}

@media (min-width: 768px) and (max-width: 991px) {
    .widget-audio .jp-buttons a {width: 40px;}
}
@media (min-width: 480px) and (max-width: 767px) {
    .widget-audio .jp-buttons {padding: 10px 0;}
    .widget-audio .jp-buttons a {width: 35px;}
    .widget-audio .jp-volume-bar {display: none !important;}
    .widget-audio .jp-current-time {margin-left: 5px;}
    .widget-audio .jp-duration {margin-right: 5px;}
    .widget-audio .jp-progress {top: 21px; left: 160px; right: 194px;}
    .widget-audio .item-song {font-size: 28px;}
    .widget-audio .item-artist {font-size: 11px;}
}
@media (max-width: 479px) {
    .widget-audio .jp-buttons {padding: 10px 0;}
    .widget-audio .jp-buttons a {width: 35px;}
    .widget-audio .jp-volume-bar,
    .widget-audio .jp-buttons .jp-repeat,
    .widget-audio .jp-buttons .jp-repeat-off,
    .widget-audio .jp-buttons .jp-shuffle,
    .widget-audio .jp-buttons .jp-shuffle-off,
    .widget-audio .jp-current-time,
    .widget-audio .jp-duration,
    .widget-audio .song-image {
        display: none !important;
    }
    .widget-audio .jp-current-time {margin-left: 5px;}
    .widget-audio .jp-duration {margin-right: 5px;}
    .widget-audio .jp-progress {top: 21px; left: 106px; right: 75px;}
    .widget-audio .item-song {font-size: 28px;}
    .widget-audio .item-artist {font-size: 11px;}
    .widget-audio .song-title {padding: 0;}
}

/*-----------------------------------*/
/* Albums Slider */
/*-----------------------------------*/

.albums-player .jp-buttons {
    padding: 22px 28px 12px;
    background-color: #d98f88;
    background-color: rgba(36, 8, 11, 0.65);
}
.albums-player .jp-buttons .jp-previous:before, .albums-player .jp-buttons .jp-next:before {font-size: 12px;}
.albums-player .jp-progress {margin: 18px 0;}
.albums-player .song-title {float: left; padding: 0; padding-bottom: 10px;}
.albums-player .jp-duration {float: right; padding-bottom: 10px;}

/*-----------------------------------*/
/* Top 10 Player */
/*-----------------------------------*/
.jp-audio.jp-audio1
{
    display: block;
    position: relative;
    width: 100%;
}
.chart-player .jp-buttons {
    position: relative;
    -webkit-transition: all 0.16s ease;
    -moz-transition: all 0.16s ease;
    -ms-transition: all 0.16s ease;
    transition: all 0.16s ease;
}
.chart-item:hover .jp-buttons, .chart-item.active .jp-buttons {background-color: transparent;}

.chart-player .song-image {
    min-width: 65px;
    max-width: 65px;
    display: inline-flex;
    vertical-align: middle;
    flex: 1 65px;
    margin-left: 1.5rem;
}
.chart-player .song-image img {width: 62px; height: 64px;}
.chart-player .song-title {
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    vertical-align: middle;
    text-align: left;
    flex-direction: column;
    flex: 1 100%;
    font-family: gotham,Helvetica,Arial,sans-serif;
}

.chart-player .item-song {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chart-player .item-artist {
    font-family:gotham,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #f5f5f5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}
.chart-item:hover .item-song, .chart-item.active .item-song {
    color: #fff;
}
.chart-item:hover .item-artist, .chart-item.active .item-artist {
    color: #fff;
}

.chart-player .play-me{
    flex: 1 80px;
    align-self: center;
    max-width: 80px;
}

.chart-player .jp-play, .chart-player .jp-pause {
    min-width: 4.5rem;
    text-align: left;
    height: 2rem;
    border-radius: 1.5rem;
    background: #fff;
    padding:.25rem .25rem 0 .25rem;
    text-indent: 0;
    overflow: unset;
    align-items: center;
    display: flex;
    color: #84a3b7;
}
.chart-player .jp-play:before, .chart-player .jp-pause:before
{
    top: .25rem;
    left: .25rem;
    position: relative;
}
.chart-player .jp-play:before {text-indent: 0;position: relative;}
.chart-item .jp-buttons .jp-play:before, .chart-item .jp-buttons .jp-pause:before {
    font-size: 1.5em;
    color: #84a3b7;
    padding-right: .5rem;
    transition: all .2s linear;
}

.chart-item:hover .jp-buttons .jp-play:before,
.chart-item:hover .jp-buttons .jp-pause:before,
.chart-item.active .jp-buttons .jp-play:before,
.chart-item.active .jp-buttons .jp-pause:before {
    color: #d61212;
    transition: all .2s linear;
}
.chart-item:hover .jp-buttons .jp-play,
.chart-item:hover .jp-buttons .jp-pause,
.chart-item.active .jp-buttons .jp-play,
.chart-item.active .jp-buttons .jp-pause {
    background: #fff;
    color:#d61112;
}
.chart-player .jp-state-playing  .jp-pause,.chart-player .jp-state-playing  .jp-pause:before {
    transition: all .2s linear;
    color: #d61212;}
.chart-item .jp-progress {
    height: 1px;
    width: auto;
    position: absolute;
    left: 90px;
    right: 18px;
    bottom: 8px;
    display: none;
}
.chart-item.active .jp-progress {display: block;}
.chart-item .jp-seek-handle {
    width: 4px;
    height: 9px;
    border-radius: 1px;
    top: -4px;
}

.widget-audio a.jp-playlist-current{
    overflow: hidden;
    text-indent: -9999px;
    width: 40px;
    height: 1.6em;
    text-align: center;
    position: relative;
    font-family: Font Awesome\ 5 Free;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    padding-left:1.2em ;
}
.widget-audio a.jp-playlist-current:before {
    content:'\f054';
    font-weight: 900;
    color: #000;
    text-indent: 0;
    position: absolute;
    top: 2px;
    left: 0;
}

.widget-audio .jp-playlist-toggle{
display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
    .chart-player .jp-buttons {padding: 15px 32px 16px 66px;}
    .chart-player .jp-play, .chart-player .jp-pause {right: 3px;}
    .chart-player .item-song {font-size: 12px;}
    .chart-player .item-artist {font-size: 11px;}
}